.group
	.row.two
		.cell
			+input('name', 'Building Name (Common)', 'text', (object ? object.name : ''), true)
		.cell
			+input('historicName', 'Building Name (Historic)', 'text', (object ? object.historicName : ''), true)
	.row
		+input('address', 'Address', 'text', (object ? object.address : ''), true)
	.row
		+input('dateConstructed', 'Year Built', 'text', (object ? object.dateConstructed : ''), true)
	.row
		label= 'Era'
		.module.checkboxes(data-type='checkboxes', data-model='era', class='era', data-checked=(object ? object.era : ''))
			+checkbox('era', '1638-1860', '1638-1860', false, (object && object.era == '1638-1860' ? true : false))
			+checkbox('era', '1860-1910', '1860-1910', false, (object && object.era == '1860-1910' ? true : false))
			+checkbox('era', '1910-1950', '1910-1950', false, (object && object.era == '1910-1950' ? true : false))
			+checkbox('era', '1950-1980', '1950-1980', false, (object && object.era == '1950-1980' ? true : false))
			+checkbox('era', '1980-Today', '1980-Today', false, (object && object.era == '1980-Today' ? true : false))
			+checkbox('era', 'N/A', 'N/A', false, (object && object.era == null ? true : false))
	.row.two
		.cell
			+input('architect', 'Architect', 'text', (object ? object.architect : ''), true)
		.cell
			+input('client', 'Client', 'text', (object ? object.client : ''), true)
	.row
		+textarea('currentTenant', 'Current Tenant', (object ? object.currentTenant : ''))
	.row
		+checkboxes('style', 'Style', true, true, (object  && object.style ? object.style : ''))
	.row
		+checkboxes('neighborhood', 'Neighborhood', true, true, (object ? object.neighborhood : ''))
	.row
		+checkboxes('tour', 'Tour', true, true, (object ? object.tour : ''))
	.row.two
		.cell
			+input('researchBy', 'Researched By', 'text', (object ? object.researchBy : ''), true)
		.cell
			+input('researchYear', 'Research Year', 'text', (object ? object.researchYear : ''), true)
	.row
		+images('images', (object ? object.images : ''), false)
	.row.two
		.cell
			+input('owner', 'Owner', 'text', (object ? object.owner : ''), true)
		.cell
			label= 'Ownership Status'
			.module.checkboxes(data-type='checkboxes', data-model='ownerStatus', class='ownerStatus', data-checked=(object ? object.ownerStatus : ''))
				+checkbox('ownerStatus', 'Public', 'Public', false, (object && object.ownerStatus == 'Public' ? true : false))
				+checkbox('ownerStatus', 'Private', 'Private', false, (object && object.ownerStatus == 'Private' ? true : false))
				+checkbox('ownerStatus', 'N/A', null, false, (object && object.ownerStatus == null ? true : false))
	.row.two
		.cell
			label= 'Exterior Visible from the Public Road?'
			.module.checkboxes(data-type='checkboxes', data-model='visibleExterior', class='visibleExterior', data-checked=(object ? object.visibleExterior : ''))
				+checkbox('visibleExterior', 'Yes', 'Yes', false, (object && object.visibleExterior == 'Yes' ? true : false))
				+checkbox('visibleExterior', 'No', 'No', false, (object && object.visibleExterior == 'No' ? true : false))
		.cell
			label= 'Interior Accessible?'
			.module.checkboxes(data-type='checkboxes', data-model='accessibleInterior', class='accessibleInterior', data-checked=(object ? object.accessibleInterior : ''))
				+checkbox('accessibleInterior', 'Yes', 'Yes', false, (object && object.accessibleInterior == 'Yes' ? true : false))
				+checkbox('accessibleInterior', 'No', 'No', false, (object && object.accessibleInterior == 'No' ? true : false))
	.row
		+textarea('explanation', 'If yes, explain', (object ? object.explanation : ''))
	.row.two
		.cell
			+checkboxes('use', 'Present Use', true, true, (object && object.use ? object.use : ''))
		.cell
			+checkboxes('historicUse', 'Historic Use', true, true, (object ? object.historicUse : ''))
	.row.two
		.cell
			+input('stories', 'Number of Stories', 'text', (object ? object.stories : ''), true)
		.cell
			+input('dimensions', 'Approximate Dimensions', 'text', (object ? object.dimensions : ''), true)
	.row.two
		.cell
			+checkboxes('material', 'Material', true, true, (object ? object.material : ''))
		.cell
			+checkboxes('structure', 'Structure', true, true, (object ? object.structure : ''))
	.row.two
		.cell
			+checkboxes('roofType', 'Roof Type', true, true, (object ? object.roofType : ''))
		.cell
			+checkboxes('roofMaterial', 'Roof Material', true, true, (object ? object.roofMaterial : ''))
	-var conditions = ['Excellent', 'Good', 'Fair', 'Deteriorated']
	.row.two
		.cell
			label= 'Structural Condition'
			.module.checkboxes(data-type='checkboxes', data-model='structuralCondition', class='structuralCondition', data-checked=(object ? object.structuralCondition : ''))
				for condition in conditions
					+checkbox('structuralCondition', condition, condition, false, (object && object.structuralCondition == condition ? true : false))
				+checkbox('structuralCondition', 'N/A', null, false, (object && object.structuralCondition == null ? true : false))
		.cell
			label= 'Exterior Condition'
			.module.checkboxes(data-type='checkboxes', data-model='exteriorCondition', class='exteriorCondition', data-checked=(object ? object.exteriorCondition : ''))
				for condition in conditions
					+checkbox('exteriorCondition', condition, condition, false, (object && object.exteriorCondition == condition ? true : false))
				+checkbox('exteriorCondition', 'N/A', null, false, (object && object.exteriorCondition == null ? true : false))
	.row
		+checkboxes('threat', 'Threats to the Building or Site', true, true, (object ? object.threat : ''))
.row
	label
		| Building Narrative 
		span.instruct= 'These paragraphs will appear as an essay'
if(object && object.research)
	.row.temp
		label(name='research')
			| Full Text 
			span.instruct= 'Separate text into appropriate sections below. Clear this text when finished.'
		textarea(name='research', rows=10) #{object.research}
.row.physical
	+textarea('physical', 'Physical Description <span class="instruct">Form, style, notable features, change over time</span>', (object ? object.physical : ''), true)
.row.streetscape
	+textarea('streetscape', 'Streetscape and Interrelationship with other buildings', (object ? object.streetscape : ''), true)
.row.social
	+textarea('social', 'Social History and Significance', (object ? object.social : ''), true)
.row.history
	+textarea('history', 'Site History', (object ? object.history : ''), true)
.row.addlInfo
	+textarea('addlInfo', 'Additional Information', (object ? object.addlInfo : ''), true)
.row.citations
	+textarea('citations', 'Citations', (object ? object.citations : ''), true)
.row.links
	+textarea('links', 'Related Links', (object ? object.links : ''), true)