.row
	+input('name', 'Name', 'text', (object ? object.name : ''))
.row
	+textarea('brief', 'Brief', (object ? object.brief : ''))
.row
	label= 'Color'
	.module.checkboxes(data-type='checkboxes', data-model='color', class='color', data-checked=(object ? object.color : ''))
		-var colors = ['#006d3b', '#00c80f', '#6e83fa', '#752675', '#ff00ff', '#ff0000', '#0041cb', '#ffaa8a', '#000000', '#f26721', '#ebe718', '#7a5220', '#757470', '#4effc0']

		for color in colors
			+checkbox('color', color, color, false, (object && object.color == color ? true : false))
-var buildings = models['buildings']
if(buildings && object)
	.row.sortable.buildings
		label
			| Buildings 
			span.instruct Drag to reorder
		ul
			for building in buildings
				if(building.tour && building.tour.slug == object.slug)
					li(class=building.slug, data-id=building.id)
						if(building.name)
							| #{building.name}
						if(building.name != building.address)
							| , #{building.address}
		+input('buildings', '', 'text', null)
		