include  ./mixins
.buildingWrap(data-tour=object.tour, data-coords=object.coords)
	.group.header
		h1.name
			span= object.name
			.arrows
				.arrow(data-direction='left')
				.arrow(data-direction='right')

	.group.toggle
		if(object.images)
			.toggler(data-group='photos', class='selected')= 'Photos'
			.toggler= '/'
			.toggler(data-group='map')= 'Map'

	.group.togglables
		-var hasImages = false
		if(object.images && object.images.length)
			-var hasImages = true
			.sliderWrap.togglable(data-group='photos', class='show')
				.slider
					.slideWrap
						each image, i in object.images
							if(image.medium)
								.slide(data-index=i, data-id=image.id, class=(i == 0 ? 'show' : ''))
									.imageWrap
										.vert
											.horz
												img(src=image.medium)
											.caption
												| #{image.caption}
												a.zoom(href=image.original, target='_blank')
				if(object.images.length > 1)
					.arrow.left
					.arrow.right
		.mapWrap.togglable(data-group='map', class=(!hasImages ? 'show' : ''))
			.map
			.loader

	.group.meta
		ul
			if(object.address)
				li.address
					span.label= 'Address: '
					span.value= object.address
			if(object.dateConstructed)	
				li.dateConstructed
					span.label= 'Year Built: '
					span.value= object.dateConstructed
			if(object.architect)	
				li.architect
					span.label= 'Architect: '
					span.value= object.architect
			if(object.style)
				li.style
						span.label= 'Style: '
						span.style= object.style.name
			if(object.client)	
				li.client
					span.label= 'Client: '
					span.value= object.client
			if(object.use && object.use.name)	
				li.use
					span.label= 'Use (present): '
					span.value= object.use.name
			//- if(object.historicUse)	
			//- 	li.use
			//- 		span.label= 'Original Use: '
			//- 		span.value= object.historicUse
			if(object.neighborhood && object.neighborhood.name)	
				li.neighborhood
					span.label= 'Neighborhood: '
					span.value= object.neighborhood.name
			if(object.researchBy)
				li.researchBy
					span.label= 'Researcher: '
					span.value= object.researchBy+(object.researchYear ? ', '+object.researchYear : '')
	.group.paragraphs.research
		.text !{object.physical}
		.text !{object.streetscape}
		.text !{object.social}
		.text !{object.history}
		.text !{object.addlInfo}
			.citations
				if(object.citations && object.citations.length > 1)
					| Citations
					br
					br
					| !{object.citations}
			.citations
				if(object.links && object.links.length > 1)
					| Related Links
					br
					br
					| !{object.links}

	.group.contribute
		.index
			a(href='mailto:email@email.com').circle= '+'
		.text
			| We want your contributions. Email 
			a(href='mailto:email@email.com')= 'email@email.com'
			|  with any photos or audio you'd like to add to this building entry.

	//- for tour in object.tour
	//- 	if(tour)
	//- 		-var tour = tour
	//- 		include  ./buildingTour