extends layout.pug
block body
	.apologies
		.horz
			.vert
				| Sorry :(
	if models
		.gridWrap.buildings
			.grid.buildings
				.sizer
				-var buildings = models.buildings
				for building in buildings
					.building(data-slug=building.slug, data-id=building.id, data-type='building', data-tour=building.tour, data-neighborhood=building.neighborhood, data-style=building.style, data-use=building.use, data-era=building.era)
						.vert
							.horz
								a.image(href='/building/'+building.slug)
									+thumb(building)
								a.name(href='/building/'+building.slug)= building.address